.todo {
    width: 600px;
    height: 100px;
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    font-size: 20px;
}
.btns {
    display: flex;
    gap: 20px;
}
.info {
    display: flex;
    gap: 20px;
}

.done {
    background-color: #0ff30f;
    text-decoration: line-through;
}